body{ 
    background-image: url(./8.jpg.jfif);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 100dvh;

    
}

h1{
    color: white;
    background-color: #31ccdd;
    padding-top: 100px;
    padding-bottom: 50px;
    border-radius: 10px;
    padding: 15px;
    

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 900;

    text-align: justify;
    text-transform: capitalize;
    text-decoration-style: wavy;
    
    

}

.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

    color: black;

    text-decoration: solid;

    margin-bottom: 20px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;

    color:#ffffff;
    padding-top: 40px;
    padding-bottom: 25px;
}

.article{
    background-color: #1847ac;
    width: 800px;
    height: 200px;
    border-radius: 10px;
    color-interpolation-filters: sRGB;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;

    text-align: center;
    color: #ffff;

    cursor: pointer;

    user-select: text;

   
    
}

h3{
    text-transform: uppercase;
    color: black;

    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
}

footer{
    color: #ffff;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;

    text-align: justify

    

}